<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Edit a Person</h1>
	</div>
</div>

<div class="container text-center">
	<div id="intro-container">
		<p>Here you can edit an existing database member.</p>
	</div>
</div>

<div class="container text-center">
	<div id="page" class="form">
		<%= erb :"/people/_form" %>
	</div>
</div>