<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Add a Person</h1>
	</div>
</div>

<div class="container text-center">
	<div id="intro-container">
		<p>Here you can add a new person to the database.</p>
	</div>
</div>

<div class="container text-center">
				<%= erb :"/people/_form" %>
	</div>
</div>