<div class="container text-center">
	<div id="intro-container">
		<p><%= "Name: #{@person.first_name} #{@person.last_name}"%></p>
		<p><%= "Birthdate: #{@person.birthdate}"%></p>
		<p><%= "Numerology message: #{@message}"%></p>
	</div>
</div>