<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Your results</h1>
	</div>
</div>

<div class="container text-center">
	<div id="intro-container">
		<p><%= @message %></p>
	</div>
</div>